html, body {
  height: 100%;
}

body {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 16pt;
}

h1 {
  font-size: 1.1em;
  padding-top: .6em;
}

p {
  font-size: 7em;
}

footer a{ 
   text-decoration: none;
   margin: .7em;
}

.active {
  border-bottom: 1px solid #000;
  padding-bottom: 3px;
}