html, body {
  height: 100%;
}

body {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 16pt;
}

h1 {
  font-size: 1.1em;
  padding-top: 10px;
}

p {
  font-size: 7em;
}
